In [1]:
import sqlite3

In [24]:
conn = sqlite3.connect("dbbase1.db")
cur = conn.cursor()
query = 'create table students(id int primary key not null, name varchar(20), marks int,sub int )'
cur.execute(query)

In [25]:
cur = conn.cursor()

In [4]:
cur.execut('insert into students values(1,Imthi,12,98)')

AttributeError: 'sqlite3.Cursor' object has no attribute 'execut'

In [5]:
cur.execute('insert into students values(1,Imthi,12,98)')

OperationalError: no such column: Imthi

In [6]:
cur.execute('insert into students values(1,'Imthi',12,98)')

SyntaxError: invalid syntax (<ipython-input-6-fc5b54a056be>, line 1)

In [19]:
cur.execute('insert into students values(1,"Imthi",12,98)')

IntegrityError: UNIQUE constraint failed: students.id

In [8]:
cur.execute('insert into students values(1,"Ramesh",78,80)')

IntegrityError: UNIQUE constraint failed: students.id

In [16]:
cur.execute('insert into students values(2,"Ramesh",78,80)')

ProgrammingError: Cannot operate on a closed cursor.

In [10]:
cur.execute('insert into students values(102,"Suresh",01,01)')

In [11]:
cur.execute('insert into students values(5,"Whitesh",27,10)')

In [12]:
cur.execute('insert into students values(9,"Tatha",0,50)')

In [21]:
cur.execute('insert into students values(75,"adharsh",25,75)')

IntegrityError: UNIQUE constraint failed: students.id

In [15]:
cur.close()

In [20]:
cur.commit()

AttributeError: 'sqlite3.Cursor' object has no attribute 'commit'

In [22]:
cur.close()

In [23]:
conn.close()

In [29]:
cur.execute('insert into students values(1,"Imthi",12,98)')
conn.commit()

In [30]:
cur.execute('insert into students values(2,"Ramesh",78,80)')
cur.execute('insert into students values(102,"Suresh",01,01)')
cur.execute('insert into students values(5,"Whitesh",27,10)')
cur.execute('insert into students values(9,"Tatha",0,50)')
cur.execute('insert into students values(75,"adharsh",25,75)')
conn.commit()

In [31]:
cur.execute("select * from students")
cur.fetchall()

[(1, u'Imthi', 12, 98),
 (2, u'Ramesh', 78, 80),
 (102, u'Suresh', 1, 1),
 (5, u'Whitesh', 27, 10),
 (9, u'Tatha', 0, 50),
 (75, u'adharsh', 25, 75)]

In [32]:
cur.fetchall()

[]

In [35]:
print cur.execute("select * from students where id = 2")
print cur.fetchall()

<sqlite3.Cursor object at 0x000000000602FF10>
[(2, u'Ramesh', 78, 80)]