In [1]:
import psycopg2

In [2]:
conn = psycopg2.connect(host="localhost", user="postgres", password="postgres", database="iua")
cur = conn.cursor()
cur.execute("create table studentsdata(id int, Name varchar(20), Ass1 int, Ass2 int, FinalEx int)")
cur.execute("insert into studentsdata values(%d, %s, %d, %d, %d)", int(raw_input("Please enter the student ID: ")),
            raw_input("Please enter the student Name: "), int(raw_input("Please enter the marks for Assignment 1: ")), 
            int(raw_input("Please enter the marks for Assignment 2 : ")), int(input("Please enter the marks for Final Exam: ")) )
conn.commit()

Please enter the student ID: 109
Please enter the student Name: Sharath
Please enter the marks for Assignment 1: 95
Please enter the marks for Assignment 2 : 92
Please enter the marks for Final Exam: 98

TypeError: function takes at most 2 arguments (6 given)

In [3]:
cur.close()

In [4]:
conn = psycopg2.connect(host="localhost", user="postgres", password="postgres", database="iua")
cur = conn.cursor()
cur.execute("create table studentsdata(id int, Name varchar(20), Ass1 int, Ass2 int, FinalEx int)")
cur.execute("insert into studentsdata values(%d, %s, %d, %d, %d)", int(raw_input("Please enter the student ID: ")),
            raw_input("Please enter the student Name: "), int(raw_input("Please enter the marks for Assignment 1: ")), 
            int(raw_input("Please enter the marks for Assignment 2 : ")), int(input("Please enter the marks for Final Exam: ")) )
conn.commit()

Please enter the student ID: 109
Please enter the student Name: Sharath
Please enter the marks for Assignment 1: 96
Please enter the marks for Assignment 2 : 94
Please enter the marks for Final Exam: 52

TypeError: function takes at most 2 arguments (6 given)

In [5]:
conn = psycopg2.connect(host="localhost", user="postgres", password="postgres", database="iua")
cur = conn.cursor()
cur.execute("create table studentsdata(id int, Name varchar(20), Ass1 int, Ass2 int, FinalEx int)")
cur.execute("insert into studentsdata values(%d, %s, %d, %d, %d)", int(raw_input("Please enter the student ID: ")),
            raw_input("Please enter the student Name: "), int(raw_input("Please enter the marks for Assignment 1: ")), 
            int(raw_input("Please enter the marks for Assignment 2 : ")), int(raw_input("Please enter the marks for Final Exam: ")) )
conn.commit()

Please enter the student ID: 109
Please enter the student Name: 125
Please enter the marks for Assignment 1: 47
Please enter the marks for Assignment 2 : 98
Please enter the marks for Final Exam: 65

TypeError: function takes at most 2 arguments (6 given)

In [6]:
conn = psycopg2.connect(host="localhost", user="postgres", password="postgres", database="iua")
cur = conn.cursor()
cur.execute("create table studentsdata(id int, Name varchar(20), Ass1 int, Ass2 int, FinalEx int)")
cur.execute("insert into studentsdata values(%d, %s, %d, %d, %d), int(raw_input("Please enter the student ID: "))
            raw_input("Please enter the student Name: "), int(raw_input("Please enter the marks for Assignment 1: ")), 
            int(raw_input("Please enter the marks for Assignment 2 : ")), int(input("Please enter the marks for Final Exam: "))" )
conn.commit()

SyntaxError: invalid syntax (<ipython-input-6-db248b88d6e3>, line 4)

In [7]:
conn = psycopg2.connect(host="localhost", user="postgres", password="postgres", database="iua")
cur = conn.cursor()
cur.execute("create table studentsdata(id int, Name varchar(20), Ass1 int, Ass2 int, FinalEx int)")
cur.execute("insert into studentsdata values(%d, %s, %d, %d, %d), int(raw_input("  ")),
            raw_input("Please enter the student Name: "), int(raw_input("Please enter the marks for Assignment 1: ")), 
            int(raw_input("Please enter the marks for Assignment 2 : ")), int(input("Please enter the marks for Final Exam: ")) ")
conn.commit()

SyntaxError: EOL while scanning string literal (<ipython-input-7-cb0a0819d162>, line 4)

In [8]:
conn = psycopg2.connect(host="localhost", user="postgres", password="postgres", database="iua")
cur = conn.cursor()
cur.execute("create table studentsdata(id int, Name varchar(20), Ass1 int, Ass2 int, FinalEx int)")
cur.execute("insert into studentsdata values(%d, %s, %d, %d, %d)", int(raw_input("Please enter the student ID: ")),
            raw_input("Please enter the student Name: "), int(raw_input("Please enter the marks for Assignment 1: ")), 
            int(raw_input("Please enter the marks for Assignment 2 : ")), int(input("Please enter the marks for Final Exam: ")) )
conn.commit()

SyntaxError: invalid syntax (<ipython-input-8-95a9185fcff0>, line 7)

In [9]:
conn = psycopg2.connect(host="localhost", user="postgres", password="postgres", database="iua")
cur = conn.cursor()
cur.execute("create table studentsdata(id int, Name varchar(20), Ass1 int, Ass2 int, FinalEx int)")
cur.execute("insert into studentsdata values(%d, %s, %d, %d, %d)",
            (int(raw_input("Please enter the student ID: ")),
             raw_input("Please enter the student Name: "),
             int(raw_input("Please enter the marks for Assignment 1: ")), 
             int(raw_input("Please enter the marks for Assignment 2 : ")),
             int(input("Please enter the marks for Final Exam: "))))
conn.commit()

Please enter the student ID: 108
Please enter the student Name: 98
Please enter the marks for Assignment 1: 97
Please enter the marks for Assignment 2 : 96
Please enter the marks for Final Exam: 99

ValueError: unsupported format character 'd' (0x64) at index %Id

In [10]:
conn = psycopg2.connect(host="localhost", user="postgres", password="postgres", database="iua")
cur = conn.cursor()
cur.execute("create table studentsdata(id int, Name varchar(20), Ass1 int, Ass2 int, FinalEx int)")
cur.execute("insert into studentsdata values(%d, %s, %d, %d, %d)",
            (int(raw_input("Please enter the student ID: ")),
             raw_input("Please enter the student Name: "),
             int(raw_input("Please enter the marks for Assignment 1: ")), 
             int(raw_input("Please enter the marks for Assignment 2 : ")),
             int(raw_input("Please enter the marks for Final Exam: ")) ))
conn.commit()

Please enter the student ID: 108
Please enter the student Name: 98
Please enter the marks for Assignment 1: 96
Please enter the marks for Assignment 2 : 65
Please enter the marks for Final Exam: 99

ValueError: unsupported format character 'd' (0x64) at index %Id

In [11]:
#Inserting the values using python, here execute function will take only two aruguments.
conn = psycopg2.connect(host="localhost", user="postgres", password="postgres", database="iua")
cur = conn.cursor()
cur.execute("create table studentsdata(id int, Name varchar(20), Ass1 int, Ass2 int, FinalEx int)")
cur.execute("insert into studentsdata values(%s, %s, %s, %s, %s)",# here %s is mandatory for any value 
            # http://initd.org/psycopg/docs/usage.html#passing-parameters-to-sql-queries
            (int(raw_input("Please enter the student ID: ")),
             raw_input("Please enter the student Name: "),
             int(raw_input("Please enter the marks for Assignment 1: ")), 
             int(raw_input("Please enter the marks for Assignment 2 : ")),
             int(raw_input("Please enter the marks for Final Exam: "))))
conn.commit()

Please enter the student ID: 109
Please enter the student Name: Sharath
Please enter the marks for Assignment 1: 98
Please enter the marks for Assignment 2 : 97
Please enter the marks for Final Exam: 94

In [12]:
q = cur.execute("select Ass1 from studentsdata where id = 109")

In [13]:
print q

None

In [14]:
cur.fetchall()

[(98,)]

In [15]:
cur.fetchall()

[]

In [16]:
q = cur.execute("select Ass1 from studentsdata where id = 109")

In [17]:
cur.fetchone(0)

TypeError: fetchone() takes no arguments (1 given)

In [18]:
cur.fetchone()

(98,)

In [19]:
q = cur.execute("select Ass1 from studentsdata where id = 109")
type(cur.fetchall())

list

In [20]:
q = cur.execute("select Ass1 from studentsdata where id = 109")
int(cur.fetchall())

TypeError: int() argument must be a string or a number, not 'list'

In [23]:
cur.execute("select Ass1, Ass2 from studentsdata where id = 109")
rows = cur.fetchall()
for row in rows:
    print "Ass1 =", row[0] 
    print "Ass2 =", row[1]

 Ass1 = 98
Ass2 = 97

In [24]:
row[0]

98

In [25]:
print Ass1

NameError: name 'Ass1' is not defined

In [36]:
cur.execute("select Ass1, Ass2,finalEx from studentsdata where id = 109")
rows = cur.fetchall()
for row in rows:
    print "Ass1 =", row[0]
    print "Ass2 =", row[1]
    print "FinalEx =" ,row[2]

Ass1 = 98
Ass2 = 97
FinalEx = 94

In [27]:
row[0]

98

In [28]:
row[0]

98

In [38]:
weight1 = row[0] * 0.2
weight2 = row[1] * 0.3
assignWeight = weight1 + weight2
finalWeight = row[2] * 0.5
totalWeight = assignWeight + finalWeight

print totalWeight

95.7

In [40]:
cur.execute("alter table studentsdata add column WeightedTotal int")

InternalError: current transaction is aborted, commands ignored until end of transaction block

In [41]:
cur.close()

In [42]:
conn.close()

In [43]:
conn = psycopg2.connect(host="localhost", user="postgres", password="postgres", database="iua")
cur = conn.cursor()

In [44]:
cur.execute("alter table studentsdata add column WeightedTotal int")

In [45]:
cur.execute("alter table studentsdata add column WeightedTotalwithBonus int")

In [46]:
conn.commit()
cur.close()

In [47]:
cur.execute("select Ass1, Ass2,finalEx from studentsdata where id = $s", id)
rows = cur.fetchall()
for row in rows:
    print "Ass1 =", row[0]
    print "Ass2 =", row[1]
    print "FinalEx =" ,row[2]

InterfaceError: cursor already closed

In [49]:
cur = conn.cursor()
cur.execute("select Ass1, Ass2,finalEx from studentsdata where id = $s", id)
rows = cur.fetchall()
for row in rows:
    print "Ass1 =", row[0]
    print "Ass2 =", row[1]
    print "FinalEx =" ,row[2]

ProgrammingError: syntax error at or near "$"
LINE 1: select Ass1, Ass2,finalEx from studentsdata where id = $s
                                                               ^

In [51]:
cur = conn.cursor()
cur.execute("select Ass1, Ass2,finalEx from studentsdata where id = 109",)
rows = cur.fetchall()
for row in rows:
    print "Ass1 =", row[0]
    print "Ass2 =", row[1]
    print "FinalEx =" ,row[2]

InternalError: current transaction is aborted, commands ignored until end of transaction block

In [52]:
conn.close()

In [53]:
conn = psycopg2.connect(host="localhost", user="postgres", password="postgres", database="iua")
cur = conn.cursor()
cur.execute("select Ass1, Ass2,finalEx from studentsdata where id = 109",)
rows = cur.fetchall()
for row in rows:
    print "Ass1 =", row[0]
    print "Ass2 =", row[1]
    print "FinalEx =" ,row[2]

Ass1 = 98
Ass2 = 97
FinalEx = 94

In [54]:
weight1 = row[0] * 0.2
weight2 = row[1] * 0.3
assignWeight = weight1 + weight2
finalWeight = row[2] * 0.5
totalWeight = assignWeight + finalWeight

print totalWeight

95.7

In [55]:
totalWeight

95.7

In [56]:
cur.execute("insert into studentsdata values WeightedTotal = totalWeight where id = 109")
cur.commit()

ProgrammingError: syntax error at or near "WeightedTotal"
LINE 1: insert into studentsdata values WeightedTotal = totalWeight ...
                                        ^

In [57]:
cur.execute("insert into studentsdata values at WeightedTotal = totalWeight where id = 109")
cur.commit()

ProgrammingError: syntax error at or near "at"
LINE 1: insert into studentsdata values at WeightedTotal = totalWeig...
                                        ^

In [58]:
cur.execute("update studentsdata set WeightedTotal = totalWeight where id = 109")
cur.commit()

InternalError: current transaction is aborted, commands ignored until end of transaction block

In [59]:
cur.close()
conn.close()

In [60]:
totalWeight

95.7

In [61]:
conn = psycopg2.connect(host="localhost", user="postgres", password="postgres", database="iua")
cur = conn.cursor()
cur.execute("update studentsdata set WeightedTotal = totalWeight where id = 109")
cur.commit()

ProgrammingError: column "totalweight" does not exist
LINE 1: update studentsdata set WeightedTotal = totalWeight where id...
                                                ^

In [62]:
conn = psycopg2.connect(host="localhost", user="postgres", password="postgres", database="iua")
cur = conn.cursor()
cur.execute("update studentsdata set WeightedTotal = %s where id = 109",(totalWeight))
cur.commit()

TypeError: 'float' object does not support indexing

In [63]:
conn = psycopg2.connect(host="localhost", user="postgres", password="postgres", database="iua")
cur = conn.cursor()
cur.execute("update studentsdata set WeightedTotal = %s where id = 109",(int(totalWeight)))
cur.commit()

TypeError: 'int' object does not support indexing

In [64]:
tweight = int(totalWeight)
conn = psycopg2.connect(host="localhost", user="postgres", password="postgres", database="iua")
cur = conn.cursor()
cur.execute("update studentsdata set WeightedTotal = %s where id = 109",(tweight))
cur.commit()

TypeError: 'int' object does not support indexing

In [65]:
tweight = int(totalWeight)
conn = psycopg2.connect(host="localhost", user="postgres", password="postgres", database="iua")
cur = conn.cursor()
cur.execute("update studentsdata set WeightedTotal = {0} where id = 109".format[tweight])
cur.commit()

TypeError: 'builtin_function_or_method' object has no attribute '__getitem__'